/* body {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
} */

/* .page {
  margin: auto;
} */

.resume {
  display: grid;
  grid-template-columns: 1fr;

  grid-template-areas:
    "name"
    "contact"
    "summary"
    "skills"
    "experience"
    "education";
}

/* 
@media (min-width: 800px) {
  .resume {
    display: grid;
    grid-template-columns: 1fr 1fr;

    grid-template-areas:
      "name photo"
      "contact photo"
      "skills summary"
      "experience experience"
      "experience experience"
      "education education";
  }
} */

/* .resume {
  border: 2px solid gainsboro;
  border-radius: 10px;
  padding: 10px;

  max-width: 1000px;
  margin: auto;
  margin-top: 10px;
} */

.name {
  grid-area: name;
  text-align: center;
}

.contact {
  grid-area: contact;
  text-align: center;
}

.summary {
  grid-area: summary;
}

.skills {
  grid-area: skills;
}

.experience {
  grid-area: experience;
}

.education {
  grid-area: education;
}

ul {
  list-style: none;
}

.icontact {
  white-space: nowrap;
}

i {
  margin: 5px;
}

/* @media only screen and (max-width: 400px) {
  .icontact {
    display: block;
  }
} */
@page {
  padding: 0;
  margin: 0cm;
  size: A4 portrait;
}

@media print {
  a {
    text-decoration: none;
    color: #000;
  }

  .resume {
    display: grid;
    grid-template-columns: 2fr 1fr;

    grid-template-areas:
      "name name"
      "contact contact"
      "skills summary"
      "experience experience"
      "experience experience"
      "education education";
  }
}
