body {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

.page {
  margin: auto;
}

.resume {
  display: grid;
  grid-template-columns: 1fr;

  grid-template-areas:
    "photo"
    "name"
    "contact"
    "summary"
    "skills"
    "experience"
    "education";
}

/* 
@media (min-width: 800px) {
  .resume {
    display: grid;
    grid-template-columns: 1fr 1fr;

    grid-template-areas:
      "name photo"
      "contact photo"
      "skills summary"
      "experience experience"
      "experience experience"
      "education education";
  }
} */

.resume {
  border: 2px solid gainsboro;
  border-radius: 10px;
  padding: 10px;

  max-width: 1000px;
  margin: auto;
  margin-top: 10px;
}
.name {
  grid-area: name;
  text-align: center;
}

.contact {
  grid-area: contact;
}

.photo {
  grid-area: photo;
}

.summary {
  grid-area: summary;
}

.skills {
  grid-area: skills;
}

.experience {
  grid-area: experience;
}

.education {
  grid-area: education;
}

p + ul {
  list-style: none;
  margin-top: -15px;
  margin-left: -10px;
}

.icontact {
  white-space: nowrap;
  margin-top: -10px;
  width: 200px;
}

i {
  margin-right: 10px;
}

.myphoto {
  display: block;
  padding: 20px;
  border-radius: 50px;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

img {
  max-width: 100px;
}

@page {
  padding: 0;
  margin: 0cm;
  size: A4 portrait;
}

@media print {
  a {
    text-decoration: none;
    color: #000;
  }

  .resume {
    display: grid;
    grid-template-columns: 2fr 1fr;

    grid-template-areas:
      "name photo"
      "contact photo"
      "skills summary"
      "experience experience"
      "experience experience"
      "education education";
  }
}
